/* Body and Main */

*{
	padding: 0;
	margin: 0;
}

body{
	direction: ltr;
	margin: auto;
	font-family: 'Nunito', sans-serif;
	background-color: #fff;
}
img{
	max-width: 100%
}

a{
	color: #000;
	font-size: 18px;
	text-decoration: none;
	transition: all .5s ease;
}

a:hover{
	color: #00C9DB;
	text-decoration: none;
}

.text-center{
	text-align: center;
}

.left{
	float: left;
	width: 25%;
	margin: 0;
}

.center{
	float: left;
	width: 40%;
}

.right{
	float: left;
	width: 33%;
	margin: 0;
}

ul{
	list-style: none;
	margin: auto;
}

li{
	float: left;
	margin-right: 3%;
}

/* Header */

.header{
    height: 60px;
    padding: 2%;
    background: #fff;
    color: #000;
}

.logo{
	width: 140px;
    margin: -2% 8%;
}

.menu{
	padding: 5% 0;	
}

.right .menu{
	margin-left: 15%;
}

.responsive-menu , .responsive-icon{
	display: none;
}

.responsive-menu{
	margin-bottom: 2%;
	transition: all .5s ease ;
	background-color: #fff;
	border-radius: 5px;
    padding: 2%;
}

.responsive-menu li{
	float: none;
    text-align: center;
    padding: 5%;
}

.responsive-icon{
	text-align: center;
    margin: 5% auto;
    width: 35px;
    padding: 1%;
    font-size: 30px;
    border: 2px solid #00c9db;
	border-radius: 5px;
}

.responsive-icon:hover , .responsive-icon:active{
	color: #00c9db;
	border-color: #000;
}

/* Title */

.title{
    text-align: center;
	background: url(..//images/cover-w.jpg);
	background-position: center;
    background-size: cover;
	color: #fff;
    font-size: 20px;
}

.title .overlay{
	background-color: rgba(0, 0, 0, 0.5);
	line-height: 200px;
	height: 200px;
}

/* Page Work */

.container{
    height: 100%;
	background: url(..//images/one.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 2%;
	border-top: 5px solid #fff;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 38%;
	float: right;
	right: 50%;
	position: absolute;
    margin-top:30px;
    border-radius: 7px;
  
}

#applo {
	color: white;
    background-color: rgb(0, 0, 0,0.3);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 300px;
	float: left;
	left: 60%;
	position: absolute;
    margin-top:30px;
    margin-left: auto;
	border-radius: 7px;
}

#sty{
	font-size: 22px; 
	text-align: center;       
}

.montform{
	margin-top: 2%;
}

.montform .feedback-input {
	color:#3c3c3c;
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
    box-shadow: 0 0 1px 3px ;
    

}
 .montform .feedback-input:focus{
	background: #fff;
	border: 3px solid #3498db;
	color: black;
	outline: none;
    box-shadow:none;
 }


 .montform  #name{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #name:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
	background-size: 30px 30px;
   background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #email{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #email:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #comment{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
	background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;}


.montform  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: none;
   font-family: 'Nunito', sans-serif!important;

}

#option{
    font-size:30px
    
}

.montform  input:focus, .montform  textarea:focus {
	background-color:#e6e6e6;
}

.button{
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	background-color:#00c9db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	transition: all 0.3s;
    margin-top:-4px;
   font-weight:700;
   font-family: 'Nunito', sans-serif!important;
    
}

.button:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.montform  .submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: white;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}
.select {
	font-size: 16px;
	font-weight: 500;
	color: #444;
	padding: 3% 10%;
	width: 100%;
	max-width: 100%;
 	border: 1px solid #aaa;
    box-shadow: 0 0 1px 3px ;
    margin-bottom: 10px;
}

.select:focus {
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	color: #222;
	outline: none;

}
.select option {
	font-weight:normal;
}

.select-icon{
	position: absolute;
    padding: 2.5%;
    font-size: 25px!important;
}

.wrong{
	padding: 2%;
    background-color: #d00909;
    color: #fff;
    border-radius: 5px;
	width: 50%;
	text-align: center;
	margin: auto;
	display: none;
}

/* Correct */

.correct{
	width: 50%;
    margin: 10% auto 0;
	text-align: center;
	display: none;
}

.correct i{
	font-size: 200px;
	color: #fff;
}

/* Mode */

.mode{
	text-align: center;
	padding: 2%;
	border-top: 2px solid #000;
}

/* Footer  */

.footer{
	background: url("..//images/cat.jpg");
	color: #000;
    background-size: cover;
	background-position: center;
	font-size: 30px;
}

.footer .overlay{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 8% 0;
	height: auto;
}

.footer h2 , .footer h3{
    margin-left: 5%;
}

/* Copyrights */

.copyrights{
	height: 50px;
	background: #fff;
	padding: 1%;
	color: #000;
}

.copyrights a{
	color: #00C9DB;
}

.copyrights a:hover{
	color: #000;
}

/* Resposive fix */

@media screen and (min-width: 767px){

	.responsive-menu{
		display: none!important;
	}

}

@media screen and (max-width: 1282px){

	.header{
		padding: 3% 2%;
	}

	.left{
		width: 16%;
	}

	.center{
		width: 52%;
	}

	.right{
		width: 32%;
    	margin: 1% 0;
	}
}

@media screen and (max-width: 767px){
	
	.menu{
		display: none;
	}

	.responsive-icon{
		display: block;
	}

	.right{
		width: 0;
	}

	.center{
		float: right;
		width: 40%;
	}

	.mode{
		padding: 5%;
	}

	.header{
		padding: 5%;
	}

	.contact-form{
		width: 70%;
	}

	.f-left , .msg{
		float: none;
		width: 100%;
	}

	.container{
		height: 800px;
	}

	#form-div{
		width: auto;
		display: block;
		float: none;
		position: relative;
		right: 0;
	}

	#applo{
		width: auto;
		float: none;
		left: 0;
		position: relative;
	}

	.dark{
		padding: 2%;
	}


}
